[submodule "iii"]
	path = iii
	url = https://github.com/daliaWdswrth/iii.git
[submodule "locality"]
	path = locality
	url = https://github.com/daliaWdswrth/locality.git
[submodule "arith"]
	path = arith
	url = https://github.com/daliaWdswrth/arith.git
[submodule "um"]
	path = um
	url = https://github.com/daliaWdswrth/um.git
